*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

body > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 130px 100px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

body > div > div:nth-child(1) {
  text-transform: uppercase;
  margin: 0 auto;
}

div:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -31px;
  justify-content: center;
}

div:nth-child(3) a:hover {
  background-color: #56c32eb7;
}

div:nth-child(3) a {
  transition: all 0.2s linear;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  background: #55c32e;
  border-radius: 11px;
  width: 217px;
  padding: 14px 0;
  text-align: center;
  font-size: 23px;
  color: white;
  margin: 0;
  margin-left: 31px;
  margin-bottom: 31px;
}

.btn-primary {
  background-color: aqua !important;
  color: #000 !important;
}
